* {
    box-sizing: border-box;
}
body{
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    
}


#brett{
    margin-top: 5%;
    background-color: black;

}

#kontrollerMobil{
    width: 100%;
}
/* Definerer en knappklasse som gir felles styling til alle knapper */
.knapp{
    font-size: 50px;
    width: 50%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: #6600cc;  
    cursor: pointer;
}

/* Har også spesifikk styling til hver knapp der det trengs */

/* Spesifikk styling til mobilkontroller */
#hoyre{
    width: 50%;
    border-bottom: 2.5px solid black;
    border-right: 5px solid black;
    border-left: 2.5px solid black;
}
#venstre{
    width: 50%;
    border-bottom: 2.5px solid black;
    border-right: 2.5px solid black;
    border-left: 5px solid black;
}
#skyt{
    width: 50%;
    border-bottom: 2.5px solid black;
    border-right: 2.5px solid black;
    border-left: 2.5px solid black;
}

/* Container til restartknaopp og volumknapp */
#restartVolum{  
    display: flex;
    justify-content: center;
    width: 512px;
}

 #restart{
    width: 50%;
    border-bottom: 2.5px solid black;
    border-right: 2.5px solid black;
    border-left: 5px solid black;

}

#volum{
    width: 50%;
    border-bottom: 2.5px solid black;
    border-right: 5px solid black;
    border-left: 2.5px solid black;
}


#lagre{
    width: 512px;
    border-top: 2.5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
} 

#input{
    color: white;
}

#leggTil{
   border: 1px solid lightslategray;
   color: white;
   padding: 5px;
   background-color: #6600cc;

}

/* Legger til felles hover til knappene */
.knapp:hover{
    cursor: pointer;
    background-color: #9900cc;
}


/* Gjemmer og viser knapper */
.gjem{
    display: none;
}
.vis{
    display: flex;
}

@media(max-width: 512px){ 

    body{
        touch-action: manipulation; /* Fikser slik at det ikke zoomes inn når man dobbeltrykker på mobil */
    }
    #brett{
        margin-top: 0%;
    }
    #restartVolum{
        width: 100% ;
    }
    #lagre{
        width: 100%;
    }

}


