.sentrert{
    text-align: center;
}
table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
    font-size: 18px;
    margin: 20px auto;
}

th, td {
    border: 2px solid black;
    padding: 3px;
}

thead{
    background: lightgreen;
}
tbody tr{
    background-color: lightyellow;
}
tbody tr:nth-child(odd) {
    background-color: azure;

}
h1, h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* påvirker første p-element som kommer etter et h2 element */
h2 + p {
    font-style: italic;
}

/* Påvirker alle p-element etter h2 */
h2 ~ p {
    font-family: Arial, Helvetica, sans-serif;
}

