html{
    scroll-behavior: smooth;
}
body{
    color: white;
    margin: 0px;
    text-align: center;
}

main{
    margin-bottom: 10rem;
}

main a {
    color: white;
}

h2{
    font-size: 30px;
}

.forsideinfo{
    font-size:23px;
    margin: 2rem 6rem;
  }
  


/* Kode for mainforsidebilde  */

.mainforsidebilde {
    position: relative;
    text-align: center;
    color: white;
    background-image: url(../bilder/space-invader.png);
    background-position: center;
    width: 100%;
    height: 500px;
    margin: 0px 0px;
    opacity: 100%;
    
  }
  
  /*  Overlay kode tatt fra dcode   */
  /* Dette er stylingen som skal vises når man holder musepekeren over bakgrunnsbildet */
  .mainforsidebilde_overlay {
    position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0; /* Settes originalt til å være opacity 0 som vil si at den ikke vises */
      transition: opacity 0.25s;
    font-size: 50px;
  
  }
  

  .mainforsidebilde_overlay:hover {
      opacity: 1; /* Når man legger muspekerern på bakgrunnsbildet settes mainforsidebilde_overlay til opacity: 1. Dette vil si at mainforsidebilde_overlay vises. */
  }
  
/* Gjør nettsiden responsiv med media query */
@media(max-width: 600px) {
    main{
      margin-left:6%;
      margin-right:6%;
    }
    .navbunn {
        flex-direction: column;
    }

    .logo .fa-bars {
        display: flex;
    }

  .logo > img{
    padding-left: 1.5%;
  }


  main h2{
    margin-bottom: 0px;
    text-align: center;
  }

  .forsideinfo{
    margin: 1rem;
  }
  
  
}
  
